{% load staticfiles %}
<html>
    <head>
        <title>Tave's Site</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    </head>
    <body>
        <div class="page_title">
            <h1>
                <a href="">Tave's Site</a>
                {% if user.is_authenticated %}
                    Hello, {{ user }}
                    <a href="{% url 'logout' %}" class="top-menu">Log out</a>
                {% else %}
                    <a href="{% url 'register' %}" class="top-menu">Register</a>
                    <a href="{% url 'auth' %}" class="top-menu">Log in</a>
                {% endif %}
            </h1>
        </div>
        <div class="main_content" onclick="">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>